.title {
  height: 140px;
  width: 100%;
  background-color: #fc5858;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 53px;
}

#portfolio-main {
  width: 100%;

  box-sizing: border-box;
  background-color: #f3f5f9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#portfolio-main iframe {
  margin-bottom: 20px;
  height: 600px;
  width: 100%;
  margin: auto;
}

.portfolio-piece {
  padding-top: 20px;
  margin-bottom: 40px;
  width: 85%;
}

.portfolio-piece-body {
  border: solid #ccc 1px;
  display: flex;
}

.portfolio-piece-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfilio-piece-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
}

.portfolio-name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-name p {
  font-weight: bold;
  color: #333333;
}

.portfolio-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.portfolio-screenshot img {
  height: auto;
  width: auto;
  max-height: 700px;
  max-width: 700px;
}

.portfolio-screenshot img:hover {
  cursor: pointer;
}

.portfolio-description {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-description p {
  font-size: 16px;
  color: #333333;
  width: 90%;
}

.portfolio-technologies {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-technologies p {
  font-size: 16px;
  color: #333333;
  width: 90%;
}
