.title {
  height: 140px;
  width: 100%;
  background-color: #fc5858;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 53px;
}

#portfolio-main {
  width: 100%;

  box-sizing: border-box;
  background-color: #f3f5f9;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#portfolio-main iframe {
  margin-bottom: 20px;
  height: 600px;
  width: 100%;
  margin: auto;
}

.portfolio-piece {
  padding-top: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 85%;
  box-shadow: 5px 5px 54px -5.5px #888888;
}

.portfolio-piece-body {
  border: solid #ccc 1px;
  display: flex;
}

.portfolio-piece-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfilio-piece-right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 1px;
}

.portfolio-name {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-name p {
  font-weight: bold;
  color: #333333;
}

.portfolio-screenshot {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.portfolio-screenshot img {
  height: auto;
  width: auto;
  max-height: 700px;
  max-width: 700px;
}

.portfolio-screenshot img:hover {
  cursor: pointer;
}

.portfolio-description {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-description p {
  font-size: 16px;
  color: #333333;
  width: 90%;
}

.portfolio-technologies {
  font-family: "Open Sans", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-technologies p {
  font-size: 16px;
  color: #333333;
  width: 90%;
}

@media(max-width: 1200px){
  .portfolio-technologies{
    display: none;
  }
}


@media(max-width: 1100px){
  .portfolio-description{
    display: none;
  }

  .portfolio-piece-body {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portfolio-screenshot img{
    max-width: 800px;
  }
}

@media(max-width: 900px){
  

  .portfolio-screenshot img{
    max-width: 90vw;
  }

  
}

@media(max-width: 400px){
  

  .portfolio-name{
    font-size: 5vw;
  }

  
}


