.title{
    border: solid black 1px;
    height: 140px;
    width: 100%;
    background-color: #FC5858;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans",Arial,sans-serif;
    font-size: 53px;

}

#slider{
    border: solid black 1px;
    height: 400px;
    width: 100%;
}