/* 258 px wide */

#header {
  color: #333333;
  height: 70px;
  width: 100vw;
  display: flex;
  justify-content: space-around;

  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
  /* border: solid black 1px; */
}

#header-left {
  height: 100%;
  width: 35vw;
  display: flex;
  align-items: center;
  /* border: solid black 1px; */
}

#header-left button {
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: 0;
  font-weight: 300;
  transition: color 0.3s;
  margin: 0;
  /* padding: 0; */
  
  /* border: solid black 1px; */
}

#header-left button:hover {
  color: #fc5858;
  cursor: pointer;
}

#header-right {
  height: 100%;
  width: 31vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: solid black 1px; */
}

#header-right button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: 0;
  transition: color 0.4s;
}

#header-right button:hover {
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: 0;
  color: #fc5858;
  cursor: pointer;
}

@media(max-width: 720px){
  #header-left{
    width: 30vw;
  }
  #header-right{
    width: 45vw;
  }


}
@media(max-width: 720px){
  #header-left{
    width: 35vw;
  }
  #header-right{
    width: 38vw;
  }


}

@media(max-width: 700px){
  #header-left{
    width: 45vw;
  }
  #header-right{
    width: 40vw;
  }

  #header-right span{
    display: none;
  }


}
@media(max-width: 550px){
  #header-left{
    width: 25vw;
  }
  /* #header-left span{
    width: 45vw;
    display: none;
  } */
  .memory{
    width: 45vw;
    display: none;
  }
  #header-right{
    width: 60vw;
  }

  #header{
    justify-content: space-between;
  }


}

@media(max-width: 350px){
  .ell{
    display: none;
  }

  #header-left{
    width: 20vw;
    font-size: 1vw;
    justify-content: left;
    padding: 0px;
    margin: 0;
    /* align-items: flex-start; */
  }
  #header-left button{
    padding: 0;
    padding-left: 4px;
  }

  #header-right{
    width: 70vw;
  }
  #header-right button{
    /* width: 70vw; */
    padding: 0;
  }

  #header-right button{
    font-size: 13px;
    /* padding: 0;
    margin: 0; */
  }


}
