#header {
  color: #333333;
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;
  align-items: center;
  box-sizing: border-box;
  text-decoration: none;
  background-color: white;
  font-family: "Open Sans", Arial, sans-serif;
  text-decoration: none;
}

#header-left {
  height: 100%;
  width: 250px;
  border: solid red 1px;
  display: flex;
  align-items: center;
  

}

#header-left button {
  font-size: 25px;
  background-color: transparent;
  border: none;
  outline: 0;
  font-weight: 300;
  transition: color 0.3s;
  border: solid black 1px;
}

#header-left button:hover {
  color: #fc5858;
  cursor: pointer;
}

#header-right {
  height: 100%;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: solid black 1px;
}

#header-right button {
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: 0;
  transition: color 0.4s;
}

#header-right button:hover {
  font-size: 16px;
  background-color: transparent;
  border: none;
  outline: 0;
  color: #fc5858;
  cursor: pointer;
}

label{
  display: none;
}

#toggle{
  display: none;
}

#toggle:checked + .menu{
  display: block;
}

@media (max-width: 650px) {
  .cell{
    display: none;
  }

  #header{
    /* background-color: yellow; */
    /* float: left; */
    padding-left: 4vw;
    padding-right: 4vw;
  }

  #header-left{
    width: 400px;
    
  }

  #header-left button{
    font-size: 6vw;
  }

  #header-right{
    /* width: 40px; */

  }

  .menu{
    width: 40px;
  }
}

@media(max-width : 700px){
  label{
    border: solid black 1px;
    display: block;
    margin-top: 35px;
    font-size: 25px;
    cursor: pointer;
  }

  #header-right{
    border: solid black 1px;
    flex-direction: column;
  }

  .menu{
    border: solid black 1px;
    margin-top: 20px;
    background-color: dodgerblue;
    width: 300px;
    text-align: center;
  }

  .menu div{
    border: solid black 1px;
    padding: 20px;
    border-bottom: 1px solid #EAEAEB;
  }
}